/*
 Theme Name:   YOOtheme Child
 Template:     yootheme
 Author:       Shaneh Leng
 Description:  YOOtheme Child Theme
 Version:      1.0.0
 Text Domain:  yootheme_child
*/

@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/Helvetica.ttf');
}
@font-face {
	font-family: 'Rustico';
	src: url('../fonts/Rustico-Regular.otf');
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/Myriad Pro Regular.ttf');
}

